*, ::after, ::before{
    box-sizing: border-box;
}
.bd-placeholder-img{
    height: 80vh;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.rounded-circle-svg{
    height: 140px;
    width: 140px;
}

a{
    text-decoration: none;
    color: lightgrey;
}
a:hover{
    text-decoration: none;
    color: grey;
}

.bi-facebook{
    color: blue;
}
.bi-facebook:hover{
    color: rgb(64, 64, 233);
}
.bi-github:hover{
    color: grey;
}
.bi-envelope-at-fill{
    color: rgb(196, 93, 93);
}

.bi-envelope-at-fill:hover{
    color: rgb(203, 47, 47);
}
.bi-linkedin{
    color: rgb(41, 125, 228);
}

.bi-linkedin:hover{
    color: rgb(5, 79, 170);
}